:root {
    font-size: 14pt;
}

body {
    background-color: #fcfcfc;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #601117 !important;
}

.navbar {
    border-bottom: #601117 2px solid;
}

.navbar-brand {
    margin-inline-start: 0 !important;
}
